<mat-card>
  <!-- using the submit event to run onAddPost-->
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <textarea matInput rows="text" name="title" minlenth="3" #title="ngModel" ngModel required> </textarea>
        <mat-error *ngIf="title.invalid">Please enter a post title </mat-error>

      <!--using form to create a javascript representation of the data-->
    </mat-form-field>
    <mat-form-field>
      <textarea matInput rows="6" name="content" #content="ngModel" ngModel required> </textarea>
          <mat-error *ngIf="content.invalid">Please enter post content </mat-error>

    </mat-form-field>
    <button mat-raised-button color="accent" type="submit"> Save Post </button>
  </form>
</mat-card>
